.formularioLogin input:nth-child(3){
  width: 60px;
  text-align: center;
}
.error-numero {
  color:rgb(247, 68, 68);
  font-size: 13px;
}
@media (max-width: 767px ) {  
  .formularioLogin {
  width: 100%;   
  }
  .formularioLogin input {
    padding: 20px;
    font-size: 25px;
  }
}