/* Reset básico */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* Contenedor principal */
.inicio-contenedor{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  min-height:100vh;
  background:#1b1d22; /* fondo oscuro */
  color:white;
  width: 80%;
  border-radius: 10px;
  
}

/* HEADER */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px;
  background:#1b1d22;
  border-bottom:1px solid #1f2937;
  width: 100%;
  position:sticky;
  top: 0;
}

.nav-config {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
}
.btn-config, .btn-salir {
  background: transparent;
  border: none;
}
header h1{
  font-size:28px;
  letter-spacing:3px;
}

/* MAIN */
main{
  width: 100%;
  flex:1; /* ocupa todo el espacio disponible */
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  padding:20px;
  margin-bottom: 40px;
}

/* NAV inferior */
.nav-abajo{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  padding:15px;
  background:#1b1d22;
  border-top:1px solid #1f2937;
  border-radius: 20px 20px 0 0;
}

/* botones */
.nav-abajo button{
  flex:1;
  margin:0 5px;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#14b8a6; /* verde/teal como te gusta */
  color:white;
  font-size:14px;
  cursor:pointer;
  transition:0.2s;
}

.nav-abajo button:hover{
  background:#0d9488;
}
.nav-abajo .btn-resetJuego {
  flex:1;
  margin:0 5px;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#ef4444;
  color:white;
  font-size:14px;
  cursor:pointer;
  transition:0.2s;
}

@media (max-width: 767px ) {
  .inicio-contenedor {
    width: 100%;
  }
  main {
    width: 100%;
  }
}